
<h2><%= @poll.title %><h2><br/>
<h4><%= @poll.question %></h4><br/>

<%= render 'answers/form' %>
<%= link_to 'Create a Poll', root_url %><br/>
<%= link_to 'Edit Poll', edit_poll_path(@poll) %><br/>
<%= link_to 'Delete Poll', poll_path %><br/>
<%= link_to 'Back to Polls', polls_path %>

<%#= debug params %>