<!DOCTYPE html>
<html>
<head>
  <title>Pollifier</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header"><h1><%= link_to 'Pollifier', root_url %></h1></div><!/header>
		<div class="wrapper">
			<div class="container">
				<p id="notice"><%= flash[:notice] %></p>
				<%= yield %>
				<%#= debug params %>
			</div><!/container>
		</div><!/wrapper>
	<div class="footer">
		
			<p><%= Time.now.year %> &copy; <%= link_to 'Home', root_url %></p>
			
	</div>
</body>
</html>
